/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : Jun 3, 2015, 10:25:25 AM
    Author     : Prakash
*/


/************************
Website Basics
************************/

h1,
h2,
h3,
h4 {
	font-family: 'lato', sans-serif;
	font-weight: 600;
}

h1 {
	font-size: 71px;
	margin-top: 47px;
	margin-bottom: 0
}

h2 {
	font-size: 50px;
}

body {
	font-family: 'lato', sans-serif
}

:focus {
	outline: none
}


/************************
Header
************************/

header {
	position: fixed;
	width: 100%;
	background: none;
	box-shadow: none;
	z-index: 1000;
	left: 0;
	padding: 30px 0;
	-webkit-transform: translatex(0);
	transition: ease-in 0.2s;
	-webkit-transition: ease-in 0.2s;
	-moz-transition: ease-in 0.2s;
}

.logo a {
	background: url(../img/logo.png);
	width: 165px;
	height: 39px;
	display: block;
	background-repeat: no-repeat
}

#menu-main-navigation {
	float: right
}

.navbar-brand,
.navbar-nav>li>a {
	text-shadow: none;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	padding: 0 15px;
	line-height: 30px;
}

.navbar-nav>li {
	padding-top: 5px;
}

.nav>li>a:hover,
.nav>li>a:focus {
	background-color: transparent;
	opacity: 0.8
}

li.menu-item.menu-login {
	padding-left: 10px;
}

li.menu-item.menu-login a {
	color: #b5ac7d;
	font-size: 16px
}

li.menu-item.menu-login a:before {
	background: url(../img/sprite.png);
	background-position: -11px -11px;
	width: 37px;
	height: 30px;
	content: "";
	display: inline-block;
	vertical-align: middle
}


/************************
Header on Scroll
************************/

header.smaller {
	background: #fff;
	box-shadow: 0 2px 3px #ddd;
}

header.smaller ul li a {
	color: #282f3c
}

header.smaller .logo a {
	background: url(../img/logoBlue.png)
}


/************************
Responsive Menu
************************/

button.toogle-menu,
.smaller .only-home img {
	display: none;
}


/************************
Banner
************************/

.pageBanner {
	max-height: 625px;
	overflow: hidden;
	position: relative
}

.fullBlock img {
	width: 100%;
}

.bannerText {
	text-align: center;
	color: #fff;
	position: absolute;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	-webkit-animation-fill-mode: backwards;
	-moz-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	animation-name: fadeIn;
}

.captionWrap {
	width: 50%;
	display: inline-block;
}

.captionWrap p {
	font-size: 22px;
	font-family: 'heuristica';
	padding-top: 2px
}

.captionWrap p:before,
section.corporateTrans h2:after {
	content: "";
	display: block;
	border-bottom: 6px solid #b5ac7d;
	width: 70px;
	margin: 27px auto;
}


/************************
Our Services Section
************************/

.ourServices {
	background: #1f2630;
	text-align: center;
	color: #fff;
	padding-bottom: 95px
}

.ourServices h2 {
	margin: 90px 0 40px
}

.blockWraps {
	float: left;
	width: 100%;
	margin-bottom: 65px
}

.serviceBlock h3 {
	line-height: 37px
}

.serviceBlock h3:before {
	content: "";
	/*height: 60px;*/
	width: 60px;
	/*background: url(../img/sprite.png);*/
	display: block;
	text-align: center;
	margin: 0 auto 30px;
}

.serviceBlock.corporate h3:before {
	background-position: -49px -11px
}

.serviceBlock.mergers h3:before {
	background-position: -120px -11px
}

.serviceBlock.capital h3:before {
	background-position: -193px -11px
}

.serviceBlock.financial h3:before {
	background-position: -273px -11px
}

a.btn.btn-default {
	border: 2px solid #b5ac7d;
	background-color: transparent;
	font-family: 'lato', sans-serif;
	background-image: none;
	text-shadow: none;
	color: #FFF;
	border-radius: 10px;
	padding: 13px 34px;
	font-size: 18px;
	border-radius: 30px
}

a.btn.btn-default:hover {
	background: #b5ac7d;
}


/***********************************
Corporaqte Transactions Section
************************************/

.corporateTrans {
	text-align: center;
	padding-bottom: 100px
}

.corporateTrans h2 {
	margin: 60px 0 32px;
}

.corporateTrans p {
	font-size: 20px;
	font-family: 'lato', sans-serif
}

.corporateTrans .blockWraps {
	margin-top: 34px;
}

.coTrans {
	border: 1px solid #e5e5e5;
	padding: 43px 0
}

.corporateTrans ul {
	list-style: none;
	padding: 28px 0 0
}

.corporateTrans ul li {
	line-height: 36px;
	font-size: 18px;
	font-family: heuristica;
	color: #49505d
}

.corporateTrans ul li:first-child,
section.corporateTrans ul li:nth-child(2) {
	font-weight: 600;
	color: #1f2630
}

section.corporateTrans .btn {
	color: #303b45
}

section.corporateTrans .btn:hover {
	color: #fff
}


/************************************
Footer
************************************/

footer {
	background: #f4f4f4;
	border-top: 1px solid #dbdbdb;
	padding: 55px 0
}

footer .forBorder:after {
	border-bottom: 1px solid #dbdbdb;
	padding-bottom: 25px;
	content: "";
	width: 100%
}

footer h3,
.contInfo h3 {
	color: #b5ac7d;
	font-size: 16px;
	margin: 0 0 25px
}

footer .office ul,
.contInfo ul {
	list-style: none;
	padding: 0
}

footer ul li,
.contInfo ul li,
.contInfo span {
	font-size: 16px;
	font-family: heuristica;
	font-weight: 300;
	color: #49505d;
	padding-bottom: 0;
	line-height: 35px
}

.secondLocation {
	border-left: 1px solid #dbdbdb;
}
/*
.sydneyOff,
.perthOff {
	column-count: 2;
	-webkit-column-count: 2;
	-moz-column-count: 2
}*/

ul.bottomFooter {
	padding: 22px 0 130px
}

ul.bottomFooter li {
	display: inline-block;
	opacity: 0.7
}

ul.bottomFooter li:before {
	content: ".";
	display: inline-block;
	font-size: 38px;
	vertical-align: text-bottom
}

ul.bottomFooter li:first-child:before {
	content: ""
}


/*Services Page*/

.notHome .pageBanner {
	max-height: 545px;
}


/************************************
Tabs Section
************************************/

.nav-tabs {
	border-bottom: 0;
	margin-bottom: 87px
}

.nav-tabs>li {
	width: 25%;
	text-align: center;
	background: #303b45;
	border-right: 1px solid #1f2630;
	max-height: 290px
}

.nav-tabs>li:last-child {
	border-right: 0
}

.nav-tabs>li a:before {
	content: "";
	display: block;
	background: url(../img/sprite.png);
	height: 60px;
	width: 60px;
	margin: 0 auto 35px
}

.nav-tabs>li.active,
.nav-tabs#myTabs>li.active {
	border-top: 10px solid #b5ac7d
}

.nav-tabs>li.active.corporate a:before {
	background-position: -49px -181px
}

.nav-tabs>li.corporate a:before {
	background-position: -49px -94px
}

.nav-tabs>li.active.mergers a:before {
	background-position: -123px -181px
}

.nav-tabs>li.mergers a:before {
	background-position: -125px -94px
}

.nav-tabs>li.active.capital a:before {
	background-position: -193px -181px
}

.nav-tabs>li.capital a:before {
	background-position: -193px -94px
}

.nav-tabs>li.active.financial a:before {
	background-position: -273px -181px
}

.nav-tabs>li.financial a:before {
	background-position: -272px -94px
}

ul.nav.nav-tabs li a {
	color: #fff;
	margin: 0;
	text-decoration: none;
	font-size: 24px;
	border-radius: 0;
	border: none;
	line-height: 34px;
	font-weight: 700;
	min-height: 290px;
	padding: 79px 0
}

.nav-tabs li.active {
	background-color: #fff;
}

ul.nav.nav-tabs li.active a {
	color: #282f3c
}

ul.nav.nav-tabs li a:hover {
	opacity: 1;
	border-radius: 0;
	border: none
}

.tabContent h3 {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 42px
}

.tab-content.contentsTab {
	margin: 105px 0 85px;
}

.contentsTab p {
	padding-bottom: 12px;
}

.contentsTab p,
.contentsTab li a {
	font-family: heuristica;
	font-size: 18px;
	color: #49505d;
	padding-bottom: 20px
}

.contentsTab ul {
	padding: 0;
	padding-left: 18px
}


/************************************
ContactUs Page
************************************/

.notHome.contactUs .pageBanner {
	max-height: 505px;
}

section.contactBlocks {
	padding: 125px 0 100px
}

.contInfo {
	padding: 33px 40px;
}

.contactC {
	border: 1px solid #e8e8e8
}

.contactC iframe {
	width: 100%
}

.contInfo ul {
	-webkit-column-count: 2;
	column-count: 2;
	-moz-column-count: 2;
	padding-bottom: 5px
}

.contInfo ul li {
	line-height: 28px
}

.contInfo ul li:last-child {
	width: 100%;
	float: left;
	clear: both;
}


/************************************
Corporate Transactions Page
************************************/

.notHome.transactions .pageBanner {
	max-height: 485px
}

.transactions .pageBanner h1:after {
	content: none
}

.transactions .corporateTrans .blockWraps {
	margin-top: 105px
}

.transactions .coTrans {
	margin-bottom: 33px
}

.corporateTrans ul li.date {
	font-family: 'lato', sans-serif;
	color: #83888c;
	font-weight: 700;
	font-size: 16px;
	margin-top: 34px
}

.corporateTrans ul li.date:before {
	background: url(../img/sprite.png);
	content: "";
	display: inline-block;
	height: 24px;
	width: 24px;
	background-position: -11px -59px;
	vertical-align: middle;
	margin-right: 16px
}


/************************************
About Us Page
************************************/

.notHome.aboutUsPage .pageBanner {
	max-height: 405px;
}

section.aboutContent {
	padding: 97px 0 134px;
}

section.aboutDetail {
	background: #1f2630;
	color: #f4f4f4;
	padding: 86px 0
}

section.aboutDetail h3 {
	font-size: 41px;
	font-weight: 300;
	margin-bottom: 33px
}

.aboutUsPage,
section.aboutDetail h3 {
	font-family: heuristica
}

section.aboutDetail p {
	color: #b3bece
}

section.aboutDetail p,
.aboutContent p {
	font-size: 18px
}

.about,
.aboutFull {
	/*padding-right: 230px*/
	text-align: justify;
}

.aboutContent p {
	color: #49505d;
	line-height: 28px
}

section.aboutContent a {
	color: #b5ac7d;
	text-decoration: underline
}

section.aboutContent a:hover {
	opacity: 0.8
}


/*People Page*/

section.serviceTabs.peopleTabs {
	background-color: #1f2630
}

ul#myTabs {
	border-bottom: 1px solid #5b6778
}

#myTabs li a span {
	font-family: heuristica;
	font-size: 18px;
	color: #49505d;
	clear: both;
	display: block;
	font-weight: 300;
	margin-top: 14px
}

.nav-tabs#myTabs>li {
	background: none;
	position: relative;
	border-right: 1px solid #e5e5e5;
	max-height: 520px;
	overflow: hidden;
	border-top: 10px solid #fff
}

.nav-tabs#myTabs li a:before {
	content: none
}

.nav-tabs#myTabs>li a {
	color: #282f3c;
	padding: 73px 0 0;
	background: #fff
}

.nav-tabs#myTabs>li a:hover,
.nav-tabs#myTabs>li a:focus {
	opacity: 1
}

.peopleTabs .tab-content.contentsTab {
	margin: 50px 0 80px;
}

.peopleTabs .tabContent h2 {
	color: #eeeeee;
	text-align: center;
	margin-bottom: 53px
}

.nav-tabs#myTabs {
	margin-bottom: 0
}

button.close_people_detail {
	display: block;
	width: 38px;
	height: 38px;
	background-image: url(../img/sprite.png);
	background-position: -11px -94px;
	margin: 0 auto 30px;
	background-color: transparent;
	border: none;
	color: transparent
}

.peopleTabs .tabContent p {
	color: #b3bece;
}

.peopleTabs .tabContent ul {
	list-style: none;
	padding-left: 0;
}

.peopleTabs .tabContent li {
	color: #fff
}

.peopleTabs .tabContent li span {
	color: #b5ac7d
}

ul.tabContact {
	border-top: 1px solid #b5ac7d;
	margin-top: 21px;
	padding-top: 31px
}

.tabContact li:before {
	content: "";
	display: inline-block;
	background: url(../img/sprite.png);
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-right: 20px;
}

li.tabEmail:before {
	background-position: -17px -144px
}

li.tabPh:before {
	background-position: -18px -179px
}

li.tabImport:before {
	background-position: -18px -211px
}

.nav-tabs#myTabs>li.active:after {
	content: "";
	display: block;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 20px solid #1f2630;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 50%;
}

.nav-tabs#myTabs>li.active {
	border-bottom: 1px solid #5b6778;
}


/************************************
************Media Queries************
************************************/

@media screen and (max-width: 1024px) {
	h1 {
		font-size: 53px
	}
	h2 {
		font-size: 45px
	}
	.captionWrap p {
		font-size: 20px
	}
	.captionWrap h1::after,
	section.corporateTrans h2::after {
		margin: 20px auto
	}
}

@media screen and (max-width: 991px) {
	h1 {
		font-size: 44px
	}
	h2 {
		font-size: 38px
	}
	.ourServices {
		padding-bottom: 78px
	}
	.coTrans {
		margin-bottom: 30px
	}
	ul.bottomFooter {
		padding-bottom: 0
	}
	.captionWrap {
		width: 100%
	}
}

@media screen and (max-width: 767px) {
	h1 {
		font-size: 45px;
		margin-top: 0
	}
	h2 {
		font-size: 38px;
	}
	.serviceBlock h3 {
		font-size: 19px;
		padding: 0 60px;
		line-height: 28px;
		margin-bottom: 45px;
	}
	.serviceBlock h3:before {
		margin: 0 auto 18px
	}
	.pageBanner {
		max-height: 415px
	}
	.fullBlock img {
		height: 100%;
		width: auto;
	}
	.captionWrap p {
		font-size: 18px;
		margin: 0
	}
	.ourServices h2 {
		margin: 60px 0 40px
	}
	.blockWraps {
		margin-bottom: 12px
	}
	.corporateTrans h2 {
		margin: 68px 0 27px
	}
	.corporateTrans .blockWraps {
		margin-top: 35px
	}
	/*.sydneyOff,
	.perthOff {
		column-count: 1;
		-webkit-column-count: 1;
		-moz-column-count: 1
	}*/
	.sydneyOff {
		margin-bottom: 20px
	}
	a.btn.btn-default {
		font-size: 16px
	}
	/*    Responsive Menu*/
	header {
		position: relative;
		padding: 10px 0;
	}
	header .logo a {
		background: url(../img/logoBlue.png)
	}
	button.toogle-menu {
		display: block;
	}
	.toogle-menu {
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		border: none;
		border-radius: 2px;
		display: block;
		height: 40px;
		padding: 10px;
		position: absolute;
		right: 15px;
		top: 0;
		width: 45px;
		z-index: 999
	}
	.cbp-spmenu-vertical {
		width: 264px;
		width: calc(100% - 75px);
		height: 100%;
		top: 0;
		z-index: 1000
	}
	.cbp-spmenu-right {
		right: -264px;
		right: calc(-100% + 5px)
	}
    
	.cbp-spmenu {
		background: #4197c4;
		position: fixed;
	}
	.menu-header {
		height: 65px;
		line-height: 65px;
		font-size: 16px;
		color: #265e7c;
		padding: 0 26px;
		border-bottom: 1px solid #3a88b0;
		overflow: hidden
	}
	.cbp-spmenu .close-icon {
		background: url(../img/sprite.png);
		background-position: -11px -11px;
		height: 20px;
		width: 20px;
		color: #ffffff;
		font-size: 16px;
		float: right;
		display: inline-block;
		text-indent: -9999em;
		position: relative;
		top: 23px;
		cursor: pointer
	}
	.icon-bar {
		background: #303b45;
		display: block;
		height: 3px;
		width: 100%;
		margin-bottom: 5px
	}
}